# ###### ###### ###### #
# Visual Studio        #
# ###### ###### ###### #

.vs
*.VC.*db


# ###### ###### ###### #
# CLion                #
# ###### ###### ###### #
.idea/
cmake-build-debug/


# ###### ###### ###### #
# C / C++              #
# ###### ###### ###### #

*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll

*.lai
*.la
*.a
*.lib

*.exe
*.out
*.app
*.ipa


# ###### ###### ###### #
# Fortran              #
# ###### ###### ###### #

*.mod


# ###### ###### ###### #
# Unreal Engine        #
# ###### ###### ###### #

# Not Ignored
!Build/*/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

Binaries
Build
Saved
Intermediate
DerivedDataCache
Content/StarterContent

SourceArt/**/*.png
SourceArt/**/*.tga

*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*_BuiltData.uasset
